* {
  box-sizing: border-box;
}

span.spriteHolder {
  height: 40px !important;
  width: 40px;
  position: relative;
  border-radius: 20px;
  border: 2px solid #000;
}

i.sprite {
  position: absolute;
  top: 50%;
  transform: translate(-2px, -50%);
}

ol.pokelist,
ul.pokelist {
  columns: 2;
}

ol.pokelist li,
ul.pokelist li {
  margin-bottom: 0.5rem;
}

ol.pokelist li > span,
ul.pokelist li > span {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

ol.pokelist li > span > span.spriteHolder,
ul.pokelist li > span > span.spriteHolder {
  margin-right: 5px;
}

div.favorite {
  width: 100%;
  text-align: center;
  margin: 1.3rem;
}

p {
  text-align: justify;
}

div.comment {
  width: 100%;
  text-align: center;
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.sampled-cards {
  display: flex;
  min-height: 200px;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sampled-cards > img {
  margin: 10px 10px;
  height: 200px;
}

.price-tool,
.pokemon-tool {
  min-width: 75px;
  border: 1px solid black;
  text-align: center;
  font-size: 0.8rem;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}


#gen1-types,
#gen1-prices-by-rarity,
#gen1-pop-by-price,
#gen1-pop-by-cards {
  height: 550px;
  width: 100%;
}

#filter-remover {
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  font-size: 0.8rem;
  height: 4rem;
  width: 6rem;
  border: 3px solid black;
  background-color: white;
}
